.DS_Store
.vscode
.DS_Store?
.Trashes
.Rhistory

gisaid_owid_merged.csv
metadata.csv
metadata.tsv
gpw.csv.gz
secrets_gisaid.csv
gpw_credentials.csv

.log
.sql
.sqlite
.Rproj
.Rproj.user

demographics.csv
geography.csv
index.csv
geo_keys.csv
geo_keys_ids.csv

Geocoded_coords.dbf
Geocoded_coords.prj
Geocoded_coords.shp
Geocoded_coords.shx

GeoPop.dbf
GeoPop.prj
GeoPop.shp
GeoPop.shx
